name: Check GTFS size

on:
  issue_comment:
    types: [created]

jobs:
  check-gtfs-size:
    runs-on: ubuntu-latest
    if: github.actor_id == '2646487' && contains(github.event.comment.body, '/gtfs-size')

    env:
      DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/gtfs?sslmode=disable"
      REDIS_URL: "redis://localhost:6379"

    permissions:
      contents: read
      issues: write

    steps:
      - name: Check out transit-tracker-api
        uses: actions/checkout@v6
        with:
          repository: tjhorner/transit-tracker-api
          ref: main

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run compose stack
        run: docker compose -f docker-compose.dev.yml up -d && sleep 10

      - name: Run database migrations
        run: pnpm gtfs:db:migrate

      - name: Get feed URLs from command
        id: get-feed-url
        shell: bash
        run: |
          COMMENT_BODY="${{ github.event.comment.body }}"
          FEED_URLS=$(echo "$COMMENT_BODY" | awk '{$1=""; print substr($0,2)}')
          echo "FEED_URLS=$FEED_URLS" >> $GITHUB_OUTPUT

      - name: Create feeds config
        run: |
          cat > feeds.yaml <<EOL
          feeds:
          EOL

          COUNTER=1
          for URL in ${{ steps.get-feed-url.outputs.FEED_URLS }}; do
          cat >> feeds.yaml <<EOL
            test${COUNTER}:
              name: Test Feed ${COUNTER}
              description: Test feed ${COUNTER}
              gtfs:
                static:
                  url: "${URL}"
          EOL
          COUNTER=$((COUNTER + 1))
          done

      - name: Run GTFS sync
        run: pnpm cli sync

      - name: Get database size
        id: db-size
        shell: bash
        env:
          PGPASSWORD: postgres
        run: |
          DB_SIZE=$(psql -h localhost -U postgres -d gtfs -c "SELECT pg_size_pretty(pg_database_size('gtfs'));" -t | xargs)
          echo "DB_SIZE=$DB_SIZE" >> $GITHUB_OUTPUT

          DB_SIZE_BYTES=$(psql -h localhost -U postgres -d gtfs -c "SELECT pg_database_size('gtfs');" -t | xargs)
          echo "DB_SIZE_BYTES=$DB_SIZE_BYTES" >> $GITHUB_OUTPUT

          TABLE_SIZES=$(psql -h localhost -U postgres -d gtfs -c "with sizes as ( select split_part(inf.table_name, '__', 1) as table_name, pg_total_relation_size(quote_ident(table_name)) as size_bytes from information_schema.tables inf where table_schema = 'public' and table_name like '%\_\_%' order by size_bytes desc ) select table_name, pg_size_pretty(sum(size_bytes)) as size, sum(size_bytes) as size_bytes from sizes group by table_name order by size_bytes desc;" --pset="footer=off")
          echo "TABLE_SIZES<<EOF" >> $GITHUB_OUTPUT
          echo "$TABLE_SIZES" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Comment with GTFS size
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          COMMENT=$'The size of [this GTFS feed](${{ steps.get-feed-url.outputs.FEED_URL }}) when imported is **${{ steps.db-size.outputs.DB_SIZE }}**.\n\n## Table sizes\n```\n${{ steps.db-size.outputs.TABLE_SIZES }}\n```'
          gh issue comment ${{ github.event.issue.number }} --body "$COMMENT" -R "${{ github.repository }}"

          SIZE_CLASS="small"
          if [[ "${{ steps.db-size.outputs.DB_SIZE_BYTES }}" -gt 750000000 ]]; then
            SIZE_CLASS="large"
          elif [[ "${{ steps.db-size.outputs.DB_SIZE_BYTES }}" -gt 250000000 ]]; then
            SIZE_CLASS="medium"
          fi
          gh issue edit ${{ github.event.issue.number }} --add-label "gtfs: ${SIZE_CLASS}" -R "${{ github.repository }}"

      - name: Comment with failure
        env:
          GH_TOKEN: ${{ github.token }}
        if: failure()
        run: |
          COMMENT="There was an error processing [this GTFS feed](${{ steps.get-feed-url.outputs.FEED_URL }}). Please check [the logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) for more details."
          gh issue comment ${{ github.event.issue.number }} --body "$COMMENT" -R "${{ github.repository }}"

      - name: Tear down compose stack
        if: always()
        run: docker compose -f docker-compose.dev.yml down
